[submodule "vision-toolkit"]
	path = vision-toolkit
	url = https://github.com/benhar-dev/vision-toolkit.git
[submodule "litegraph.js"]
	path = litegraph.js
	url = https://github.com/jagenjo/litegraph.js.git
